
    <div id="header-bar">
      <div id="logo-and-nav" class="clearfix">

        <!-- <div id="logo-with-title"><img src="./images/logo-with-title.svg"></div> -->
        <div id="logo-with-title-at-right"><%= image_tag 'logo-with-title-at-right.svg' %></div>

        <!-- <ul id="header-nav">
          <li><a href="homepage.html">Setup step 1</a></li>
          <li><a href="stack-of-options1">Setup step 2</a></li>
          <li><a href="stack-of-options2">Setup step 3</a></li>
          <li><a href="bubble-closed-desktop.html">Desktop View 1</a></li>
          <li><a href="bubble-open-desktop.html">Desktop View 2</a></li>
          <li><a href="bubble-closed-mobile.html">Mobile View 1</a></li>
          <li><a href="bubble-open-mobile.html">Mobile View 2</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
        </ul> -->
      </div>
    </div>
  <div class="container">
    <div class="headline text-center">
      <h1> ADD REFERRAL MARKETING TO YOUR WEBSITE OR APPLICATION IN SECONDS.</h1>
      <h2> Enter your info to get early access.</h2>
      <br>

      <form class="form-inline" action="//kehaya.us6.list-manage.com/subscribe/post?u=3acaedebf209f8e70af87da99&amp;id=f6f98593ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input class="form-control form-control-lg" name="EMAIL" placeholder="Email Address" required="" type="email">
          </div>
          <div class="form-group">
            <input type="text" value="" name="NAME" class="form-control" id="mce-NAME" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" value="" name="COMPANY" class="form-control" id="mce-COMPANY" placeholder="Company Name">
          </div>
          <button class="btn btn-warning" name="subscribe" type="submit">Request Early Access</button>
      </form>
    </div>
  </div>
    <!-- header-bar -->
      <!-- Desktop Views -->
      <div class="desktop-views">
        <div class="container">
          <%= render 'step1' %>
          <hr/>
            <%= render 'step2' %>

        </div>

        <div class="example-views">
            <hr/>
          <%= render 'step3' %>
        </div>


        <div class="example-views">
            <hr/>
          <%= render 'mobile_action' %>
        </div>

        <div class="example-views text-center">
            <hr/>
          <%= render 'dashboard' %>
        </div>

</div>

<div class="container">
  <hr/>
  <div class="headline-bottom text-center">
    <h1> ENTER YOUR INFO BELOW TO GET EARLY ACCESS.</h1>
    <h2> Early bird customers get locked in with discount pricing for life!</h2>
    <br>
    <form class="form-inline" action="//kehaya.us6.list-manage.com/subscribe/post?u=3acaedebf209f8e70af87da99&amp;id=f6f98593ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <input class="form-control form-control-lg" name="EMAIL" placeholder="Email Address" required="" type="email">
        </div>
        <div class="form-group">
          <input type="text" value="" name="NAME" class="form-control" id="mce-NAME" placeholder="Your Name">
        </div>
        <div class="form-group">
          <input type="text" value="" name="COMPANY" class="form-control" id="mce-COMPANY" placeholder="Company Name">
        </div>
        <button class="btn btn-warning" name="subscribe" type="submit">Request Early Access</button>
    </form>
  </div>
</div>
<%= render 'footer' %>
