<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>In app referral marketing made easy.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="In App Referral Marketing" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content='<%= asset_url('logo-with-title-at-right') %>' />
  <meta property="og:url" content="www.actionwins.co" />
  <meta property="og:description" content="In app referral marketing plugin and api" />
</head>
<body>

<%= yield %>

</body>
</html>
